a:hover{
    color:red;
}

h1{
    color: blue;
    font-size: 36px;
}

h2{
    color: red;
    font-size: 36px;
}

.important{
    color: black;
    font-weight: bold;
    font-size: 22px;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
}

#irrelevant-text{
    color: pink;
    font-style: italic;
    font-weight:bold;
    font-size: 16px;
}